<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Count visitors -->
    <img src="https://count-laudev-visitors.glitch.me/pixel.svg" />
    
    <!-- Website carbon badge -->
    <script src="https://unpkg.com/website-carbon-badges@^1/b.min.js" defer></script>

  </body>

</html>
